[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "third_party/portaudio"]
	path = third_party/portaudio
	url = git@github.com:PortAudio/portaudio.git
[submodule "third_party/portmidi"]
	path = third_party/portmidi
	url = git@github.com:PortMidi/portmidi.git
[submodule "third_party/sigslot"]
	path = third_party/sigslot
	url = git@github.com:palacaze/sigslot.git
